@import '_variables.scss';
@import '_normalizer.scss';
@import '~antd/dist/antd.css';
@import url('https://fonts.googleapis.com/css?family=Roboto+Condensed');
@import url('https://use.fontawesome.com/releases/v5.6.3/css/all.css');

html {
  box-sizing: border-box;
}

*,
*::before,
*::after {
  box-sizing: inherit;
}

body {
  font-family: 'Roboto Condensed', sans-serif;
}
