$breakpoints: (
  xxxs: 340px,
  xxs: 400px,
  xs: 586px,
  sm: 768px,
  md: 884px,
  lg: 1200px
);

@mixin respond-below($breakpoint) {
  // If the breakpoint exists in the map.
  @if map-has-key($breakpoints, $breakpoint) {
    // Get the breakpoint value.
    $breakpoint-value: map-get($breakpoints, $breakpoint);

    // Write the media query.
    @media (max-width: ($breakpoint-value - 1)) {
      @content;
    }

    // If the breakpoint doesn't exist in the map.
  } @else {
    // Log a warning.
    @warn 'Invalid breakpoint: #{$breakpoint}.';
  }
}

.main-container {
  max-width: 876px;
  min-width: 574px;
  margin: auto;
  @include respond-below(xs) {
    min-width: 300px;
    max-width: 100%;
  }
  @include respond-below(md) {
    margin: auto 6px;
  }
}

.header {
  margin-bottom: 3px;
  @include respond-below(xs) {
    min-width: 300px;
    overflow: hidden;
    position: sticky;
    // position: fixed; /* Set the navbar to fixed position */
    top: 0px; /* Position the navbar at the top of the page */
    background: white;
    opacity: 0.9;
    z-index: 500;
  }
}

.content {
  margin: 2px;
  padding: 2px;
}

.buttons {
  margin: 2px;
}
